<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="AppFormula1ServidorPU" transaction-type="JTA">
    <jta-data-source>java:app/formula1U</jta-data-source>
    <class>entities.Apuesta</class>
    <class>entities.Calificacion</class>
    <class>entities.Campeonato</class>
    <class>entities.Circuito</class>
    <class>entities.Escuderia</class>
    <class>entities.Foto</class>
    <class>entities.Monoplaza</class>
    <class>entities.Pais</class>
    <class>entities.Piloto</class>
    <class>entities.Premio</class>
    <class>entities.ResultadoCarrera</class>
    <class>entities.ResultadoClasificacion</class>
    <class>entities.ResultadoPractica</class>
    <class>entities.SesionCarrera</class>
    <class>entities.SesionClasificacion</class>
    <class>entities.SesionPractica</class>
    <class>entities.Usuario</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <shared-cache-mode>DISABLE_SELECTIVE</shared-cache-mode>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
    </properties>
  </persistence-unit>
</persistence>
